.walker {
    width: 100px;
    height: 100px;
    background-image: url('https://www.flaticon.com/svg/static/icons/svg/875/875115.svg');
    background-size: contain;
    background-repeat: no-repeat;
    transition: all 1s ease;
}
