
.footer {
  background: #000000;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: 768px) {
    padding: 38px 92px 47px 80px;
  }
  @media (min-width: 1200px) {
    padding: 57px 215px 56px;

  }

  padding: 38px 35px 48px;

  &-title {
    padding-bottom: 8px;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    color: #FEFEFE;
    text-transform: uppercase;
  }

  &-description {
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    line-height: 20px;
    text-align: center;
    color: #B9B9B9;
    }
  &-description span {
    display: none;
    @media (min-width: 481px) {
      display: inline;
    }
  }


  &-link-wrapper {
    display: none;
  }

  &-contact-info {
    max-width: 235px;
    color: #B9B9B9;
    padding-top: 25px;
    font-family: 'Roboto', sans-serif;
    line-height: 24px;
    text-align: center;
    display: flex;
    flex-direction: column;
  }

  &-point-breakers {
    padding: 0 5px 0 10px;
  }
}

.footer-links-item {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid transparent;
  border-radius: 50%;
  width: 34px;
  height: 34px;

  margin: 0 5px;
  box-sizing: border-box;

}

.footer-links {
  display: flex;
  margin-top: 25px;

  &-yellow {
    border-color: #F8902E;
  }

  &-blue {
    border-color: #39599F;
  }

  &-lightblue {
    border-color: #45B0E3;
  }

  &-pink {
    border-color: #D97AB0;
  }

  &-red {
    border-color: #CC212C;
  }


}