
.gallery__wrapper {
  @include space-between;
  display: flex;
  flex-direction: column;
  padding-top: 38px;
  padding-bottom: 42px;

  @media  (min-width: 520px){
    background: rgba(0, 0, 0, 0.03);
  }

  &-block {
    display: flex;
    justify-content: space-between;
  }

  &-title {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: #4E4E4E;
    @media  (min-width: 520px) {
      display: inline-block;
    }
  }
  &-title span {
    display: none;
    @media (min-width: 520px) {
      display: initial;
    }
  }
  &-link {
    display: none;
    text-decoration: none;
    font-size: 13px;
    line-height: 14px;
    cursor: pointer;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    color: #4E4E4E;
    @media (min-width: 520px) {
      display: inline-block;
    }
  }

}


.gallery__photos {
  margin-top: 13px;
  display: grid;
  grid-template-columns: 1fr;
  @media (min-width: 520px) {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 9px;
  }
  @media (min-width: 768px) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 9px;
  }
  @media (min-width: 1024px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 9px;
  }

  &-item {
    width: 100%;
    display: none;
    @media(min-width: 1024px) {
      display: block;
    }
  }

    &-item:first-child {
      display: block;
    }

    &-item:nth-child(2) {
      @media(min-width: 520px) {
        display: block;
      }
    }

    &-item:nth-child(3) {
      @media(min-width: 768px) {
        display: block;
      }
    }


}
