
.header {
  padding-top: 5px;
  @include space-between;
}

.navigation__wrap-menu {
  position: relative;
}

.navigation__burger {
  display: inline-block;
  position: relative;
  width: 44px;
  height: 37px;
  background: black;
  margin: 15px 0 23px calc(100% - 44px);
  @media (min-width: 481px) {
    display: none;
  }
}

.navigation__burger:before,
.navigation__burger:after {
  content: '';
  background-color: #ffffff;
  position: absolute;
  width: 35%;
  height: 2px;
  left: 30%;
  transition: all 0.3s ease 0s;
}

.navigation__burger:before {
  top: 13px;
}

.navigation__burger:after {
  bottom: 14px;
}


.navigation__burger span {
  position: absolute;
  background-color: #ffffff;
  left: 30%;
  width: 35%;
  height: 2px;
  top: 17px;
  transition: all 0.3s ease 0s;
}

.navigation__burger.active span {
  width: 0;
}

.navigation__burger.active:before {
  transform: rotate(45deg);
  top: 17px;
}

.navigation__burger.active:after {
  transform: rotate(-45deg);
  bottom: 18px;
}


.navigation__list {
  display: none;

  &--active {
    display: block;
    position: absolute;
    right: 0;
  }

  @media (min-width: 481px) {
    display: flex;
    justify-content: space-evenly;
    margin: 40px 0 43px;
  }
  @media (min-width: 982px) {
    margin: 45px 0 51px;
  }


  @media (max-width: 480px) {
    &-item {
      padding: 5px 0 2px 13px;
    }
    &-item:hover {
      background: #E5E5E5;
    }
    &-item:hover a {
      color: #57A4A4;
    }
  }

  &-item a {
    text-decoration: none;
    color: #4E4E4E;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 1.1px;
    line-height: 22px;
    font-family: 'Roboto', sans-serif;
  }

  @media (min-width: 481px) {
    &-item a:hover {
      color: #57A4A4;
    }
  }
}

.navigation__list.active {
  display: initial;
  position: absolute;
  background: #F5F5F5;
  width: 182px;
  right: 0;
  top: 66%;
  @media (min-width: 481px) {
    position: initial;
    display: flex;
    background: none;
    width: 100%;
  }
}

.post__intro-image img {
  width: 100%;
}