@mixin space-between {
  padding-left: 28px;
  padding-right: 25px;

  @media (min-width: 768px) {
    padding-left: 60px;
    padding-right: 62px;
  }
  @media (min-width: 1200px) {
    padding-left: 100px;
    padding-right: 100px;

  }
}