
.post__section {
  @include space-between;
}

.post__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  @media (min-width: 1200px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 50px;
  }

  &-description {
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    color: #4E4E4E;
    margin: 38px 0 24px;
  }

  &-block {
    margin-bottom: 29px;
    @media  (min-width: 768px) {
      display: flex;
      flex-direction: column;
      max-height: 140px;
      max-width: 555px;
      flex-wrap: wrap;
    }


  }

  &-block img {
    width: 160px;
    margin-right: 12px;
  }

  &-title {
    font-weight: bold;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    margin-top: 11px;
    color: #4E4E4E;
    @media  (min-width: 768px) {
      display: inline-block;
    }

  }

  &-info {
    font-size: 11px;
    font-family: 'Roboto', sans-serif;
    margin-top: 19px;
    color: #7C7C7C;
    @media  (min-width: 768px) {
      display: inline-block;
    }
  }
  &-info span:nth-child(2) {
    padding: 0 10px;
  }

  &-text {
    display: none;
    @media  (min-width: 768px){
      display: inline-block;
      margin-top: 13px;
      font-size: 14px;
      font-family: 'Roboto', sans-serif;
      color: #5C5C5C;
      max-width: 400px;
      overflow-wrap: break-spaces;
    }
    @media  (min-width: 1200px){
      max-width: 295px;
    }
  }
}

