.page-body {
  margin: 0;
  padding: 50px 100px;
  background-color: $body-bgd-color;
  font-size: 65px;
}





@media (max-width: 1024px) {
  .contact-form {
    display: none;
    background-color: lawngreen;
  }
  .contact-form__element {
    width: 100%;
  }
}