.menu {
 @extend %list-none;

  @include transform(translateX(30px));
  //@include grid(3, 10px, 60px);
  background-color: #f0fff0;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));

}

.menu-item {
  border-bottom: 2px solid #000;
}

.menu-link {
  font-size: 18px;
  font-weight: 700;
  color: #292964;

  &--active {
    margin: auto;
    text-transform: uppercase;
  }
}