.menu {
  margin: 0;
  padding: 0;
  list-style: none; }

.page-body {
  margin: 0;
  padding: 50px 100px;
  background-color: rgba(157, 78, 25, 0.75);
  font-size: 65px; }

.menu {
  -webkit-transform: translateX(30px);
  -ms-transform: translateX(30px);
  transform: translateX(30px);
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 60px;
  background-color: #f0fff0; }

.menu-item {
  border-bottom: 2px solid #000; }

.menu-link {
  font-size: 18px;
  font-weight: 700;
  color: #292964; }
  .menu-link--active {
    margin: auto;
    text-transform: uppercase; }
