* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

html {
    text-align: center;
}

a {
    text-decoration: none;
    color: white;
}

button {
    border: none;
    cursor: pointer;
}

ul {
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.header-block {
    background-image: url("../img/background/section-1(header).jpg");
    background-attachment: fixed;
}

.hexagon {
    width: 58px;
    height: 67px;
    background-color: #18CFAB;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.hexagon::after {
    content: 'H';
    font-size: 40px;
    font-weight: bold;
    color: #ffffff;
}

.header-top-menu {
    padding: 27px 0 27px 0;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    background-color: rgba(94, 93, 88, 0.6);
}

.header-logo-block {
    color: white;
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 32px;
    line-height: 48px;
}

.header-logo-block span {
    font-weight: bold;
}

.header-ham-span {
    display: flex;
    width: 58px;
    height: 67px;
    font-size: 40px;
    line-height: 31px;
    text-align: center;
    background-image: url("../img/headericon.svg");
    color: white;
    font-family: Montserrat sans-serif;
    background-repeat: no-repeat;
    margin-right: 3px;
}

.header-ham-span span {
    display: inline-block;
    padding-top: 18px;
    padding-left: 13px;
}

.header-color-ham {
    color: #18CFAB;
}

.header-menu {
    display: flex;
    flex-direction: row;
    margin: 0 -5px;
    text-decoration: none;
    list-style: none;
}

.header-link {
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    margin: 0 21px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
}

.header-link:hover {
    color: #18CFAB;
    position: relative;

}

.header-link::after {
    content: '';
    height: 2px;
    left: 0;
    top: 72px;
    width: 100%;
    transition: all 0.5s linear;
}

.header-link:hover::after {
    position: absolute;
    background-color: #18CFAB;
}

.header-link span {
    display: inline-block;
    width: 23px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../img/Searchicon1.png");
}

.header-link span:hover {
    background-image: url("../img/search-icon-green.png");
}


/*=============================================================================================================*/

.header-title-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #F4F4F4;
    text-align: center;
    text-transform: uppercase;
}

.header-title-block div p {
    margin: 2px;
}

.header-title-block button, .ad-offer-button {
    display: inline-block;
    width: 169px;
    padding: 15px 0;
    background: #18CFAB;
    color: #F4F4F4;
    font-weight: bold;
    font-size: 15px;
    line-height: 32px;
    text-align: center;
    text-transform: uppercase;
    border-top: 4px solid white;
    border-radius: 6px;
    cursor: pointer;
}

.header-title-buttons {
    margin-top: 7%;
    margin-bottom: 243px;
}

.header-title-buttons button:last-child {
    background: #00CBF6;
}

.header-title-describe {
    font-weight: bold;
    font-size: 35px;
    padding-top: 264px;
}

.header-title-describe span {
    color: #18CFAB;
}

.header-title-motto {
    font-weight: bold;
    font-size: 78px;
    padding: 22px 0 22px 0;
}

.header-title-ad {
    font-size: 34px;
    text-transform: none;
    color: #D4D4D4;
}

/*=================================================== Main data ========================================================*/

.main-options-block {
    background-color: #FFFFFF;
    justify-items: center;
    padding-top: 8px;
    display: flex;
}

.option-icons {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    text-align: center;
    width: 25%;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 20px;
    align-self: center;
}

.main-options-block div:nth-child(2) p {
    padding-top: 58px;
}

.main-options-block div:nth-child(4) p {
    padding-top: 57px;
}

.main-options-block div:nth-child(1) p {
    padding-top: 47px;
}

.main-options-block div:nth-child(3) p {
    padding-top: 48px;
}

.main-options-block div:nth-child(1), .main-options-block div:nth-child(3) {
    color: #18CFAB;
    background: #1C2A33;
    padding-top: 95px;
}

.main-options-block div:nth-child(2), .main-options-block div:nth-child(4) {
    color: #FFFFFF;
    background: #18CFAB;
    padding-top: 106px;
}

.main-options-block div p {
    padding-bottom: 110px;
}

/*============================== Our Services ============================================*/

.service-title {
    font-size: 36px;
    color: #4E4E4E;
    position: relative;
}

.service-title:after{
    display: block;
    box-shadow: 10px 5px 0 0 #18CFAB;
    content: "";
    margin: 0 auto;
    width: 76px;
    margin-top: 28px;
    border-bottom: 1px solid #18CFAB;
}

/*=====================================================================================================================*/
.service-menu-section {
    display: flex;
    text-align: center;
    justify-content: space-around;
    padding: 87px 0 91px 0;

}

.service-wrapper-block {
    display: flex;
    flex-direction: column;
    width: 1160px;
    height: 375px;
    align-self: center;
    justify-content: space-between;
}

.service-button-list {
    display: flex;
    justify-content: space-around;
    margin-bottom: 23px;
}

.tabs-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #F8FCFE;
    border: 1px solid #EDEFEF;
    width: 192px;
    height: 73px;
    justify-content: space-around;
    font-size: 16px;
    color: #717171;
}

.tabs-title:hover {
    border: 2px solid #18CFAB;
    box-sizing: border-box;
    height: 75px;
    width: 194px;
}

.content-block {
    height: 240px;
}

.service-content-block {
    width: 1160px;
    display: flex;
    align-self: flex-end;
    justify-content: space-between;
}

.service-content-block img {
    width: 192px;
    height: 139px;
    border: 1px solid #EDEFEF;
    margin-right: 15px;
    display: none;
}

.service-content-block img:first-child {
    display: initial;
}

.tabs-content {
    color: #777777;
    text-align: left;
    line-height: 24px;
    font-size: 13px;
}

.active {
    position: relative;
    background: #18CFAB;
    color: #FFFFFF;
    border: 1px solid #18CFAB;
}

.active::after {
    content: "";
    position: absolute;
    width: 24px;
    height: 13px;
    background-color: #18CFAB;
    clip-path: polygon(50% 100%, 0 0, 100% 0);
    left: 50%;
    transform: translateX(-50%);
    top: 100%;
}

.tabs-item {
    display: none;
}

.tabs-item p {
    display: inline-block;
    cursor: initial;
}

.tabs-item img {
    cursor: initial;
}

.tabs-active {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
}

/*=============================================== Everything is ready - block ==============================================*/

.ad-offer-block {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../img/background/section-2.jpg");
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: #F4F4F4;
    text-align: center;
    padding-bottom: 127px;

}

.ad-offer-title {
    font-size: 40px;
    color: #18CFAB;
    font-weight: bold;
    padding: 127px 0 13px 0;
    text-transform: uppercase;
}

.ad-offer-info {
    font-size: 16px;
    color: #D8D8D8;
    line-height: 40px;
}

.ad-offer-button {
    margin-top: 4%;
    align-self: center;
}

/*================================================= Our Amazing Work ==================================================*/

.example-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #E9EDEF;
    padding-bottom: 70px;
}

.example-title {
    position: relative;
    font-size: 36px;
    color: #4E4E4E;
    margin-top: 95px;
    margin-bottom: 97px;
}

/*==================================================================================================================*/

.example-title:after{
    display: block;
    box-shadow: 10px 5px 0 0 #18CFAB;
    content: "";
    margin: 0 auto;
    width: 76px;
    margin-top: 28px;
    border-bottom: 1px solid #18CFAB;
}

.example-content-block {
    width: 1140px;
    align-self: center;
}

.example-button-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 70px;
}

.example-style-buttons {
    border: 1px solid #DADADA;
    color: #717171;
    font-size: 14px;
    line-height: 42px;
    padding: 14px 15px 13px 15px;
}

.active-example-button {
    color: #18CFAB;
    border: 2px solid #18CFAB;
    box-sizing: border-box;
    padding-top: 13px;
    padding-bottom: 12px;
}

.card-block {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 1s inherit;
}

.card-front-side {
    position: absolute;
    backface-visibility: hidden;
    width: 100%;
    height: 100%;
}

.card-content-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    justify-items: center;
    width: 1140px;
    max-height: 618px;
    overflow: hidden;
}

.card-wrapper {
    position: relative;
    width: 284px;
    height: 206px;
    overflow: hidden;
}

.card-info {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: #FFFFFF;
    color: #4E4E4E;
    border-top: 3px solid #18CFAB;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.card-info > div:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-info div span {
    margin-right: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 41px;
    width: 40px;
    border-radius: 50%;
    border: 1px solid #18cfab;
    color: #18cfab;
    background: #FFFFFF;
}

.icon-box {
    display: inline-block;
    width: 12px;
    height: 11px;
    background-image: url("../img/box-green.svg");
    background-position: center;
    background-repeat: no-repeat;
    align-self: center;
}

.card-info div span:hover > .icon-box {
    background-image: url("../img/box-white.svg");
}

.card-info div span:hover > .icon-chain {
    background-image: url("../img/chain-white.svg");
}

.icon-chain {
    display: inline-block;
    width: 17px;
    height: 17px;
    background-image: url("../img/chain-green.svg");
    background-position: center;
    background-repeat: no-repeat;
    align-self: center;
}

.card-info div span:hover {
    background: #18cfab;
    color: #FFFFFF;
}

.card-block:hover {
    transform: rotateY(180deg);
}


.backside {
    text-align: center;
}

.backside p {
    margin-bottom: 10px;
    color: #18CFAB;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 16px;
}

.backside h3 {
    font-size: 13px;
    font-weight: 400;
    color: #8A8A8A;
}

.button-all-img {
    padding: 13px 30px 12px 30px;
}

.example-load-button {
    opacity: 1;
    position: relative;
    display: inline-block;
    width: 169px;
    padding: 32px 0;
    background: #18CFAB;
    color: #F4F4F4;
    font-weight: bold;
    font-size: 15px;
    line-height: 32px;
    text-transform: uppercase;
    border-top: 4px solid white;
    border-radius: 6px;
    cursor: pointer;
}

.example-load-button span:first-child {
    position: absolute;
    top: 16px;
    left: 18px;
    font-size: 30px;
}

.example-load-button span:nth-child(2) {
    position: absolute;
    top: 15px;
    right: 18px;
}


/*====================================================================================================================*/

.block-of-buttons {
    display: inline-block;
    position: relative;
    align-items: center;
    align-content: center;
    margin-top: 70px;
    margin-bottom: 100px;
}

#cube-loader {
    align-items: center;
    display: none;
    height: 20%;
    width: 20%;
    top: 0;
    left: 29%;
    position: absolute;
}

#cube-loader .caption {
    margin: 0 auto;
}

#cube-loader .cube-loader {
    width: 73px;
    height: 73px;
    margin: 0 auto;
    margin-top: 49px;
    position: relative;
    transform: rotateZ(45deg);
}

#cube-loader .cube-loader .cube {
    position: relative;
    transform: rotateZ(45deg);
    width: 50%;
    height: 50%;
    float: left;
    transform: scale(1.1);
}

#cube-loader .cube-loader .cube:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #18CFAB;
    animation: cube-loader 2.76s infinite linear both;
    transform-origin: 100% 100%;
}

#cube-loader .cube-loader .loader-2 {
    transform: scale(1.1) rotateZ(90deg);
}

#cube-loader .cube-loader .loader-3 {
    transform: scale(1.1) rotateZ(180deg);
}

#cube-loader .cube-loader .loader-4 {
    transform: scale(1.1) rotateZ(270deg);
}

#cube-loader .cube-loader .loader-2:before {
    animation-delay: 0.35s;
}

#cube-loader .cube-loader .loader-3:before {
    animation-delay: 0.69s;
}

#cube-loader .cube-loader .loader-4:before {
    animation-delay: 1.04s;
}

@keyframes cube-loader {
    0%,
    10% {
        transform: perspective(136px) rotateX(-180deg);
        opacity: 0;
    }
    25%,
    75% {
        transform: perspective(136px) rotateX(0deg);
        opacity: 1;
    }
    90%,
    100% {
        transform: perspective(136px) rotateY(180deg);
        opacity: 0;
    }
}

/*===============================================================================================================*/


/*======================================== Breaking news =========================================*/

.fourth_block {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.news-title {
    font-size: 36px;
    color: #4E4E4E;
    margin-top: 82px;
    margin-bottom: 100px;
    position: relative;
}

.news-content-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 1160px;
    height: 607px;
    justify-content: space-between;
    align-self: center;
}

/*========================================================================================*/


.news-title:after{
    display: block;
    box-shadow: 10px 5px 0 0 #18CFAB;
    content: "";
    margin: 0 auto;
    width: 76px;
    margin-top: 28px;
    border-bottom: 1px solid #18CFAB;
}

/*=========================================================================================*/

.news-section {
    padding-bottom: 130px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.news-card-block {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-bottom: 18px;
}

.news-link-block {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.news-link-block:first-child {
    position: relative;
}

.news-info-title {
    display: inline-block;
    font-weight: bold;
    font-size: 18px;
    line-height: 39px;
    color: #717171;
    text-align: center;
    padding-right: 45px;
}

.card-content {
    display: inline-block;
    font-size: 14px;
    line-height: 39px;
    color: #777777;
    text-align: center;
    padding-right: 40px;
}

.data-element {
    position: absolute;
    width: 70px;
    height: 67px;
    right: 0;
    top: 0;
    background: #203E38;
    font-size: 16px;
    color: #FFFFFF;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-self: center;
}

.data-element span {
    margin-top: 8px;
}

.news-card-block:hover > a .data-element {
    background: #18CFAB;
}

.news-card-block:hover > .news-info-title {
    color: #18CFAB;
}

.card-content span:nth-child(2) {
    margin-left: 12px;
    margin-right: 12px;
}

/*=========================================================== What People say ================================================*/

.review-section {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), center url("../img/background/section-3.jpg");
    display: flex;
    justify-content: center;
}

.review-content-wrapper {
    display: flex;
    flex-direction: column;
    align-self: center;
    padding: 100px 0 95px 0;
}

.review-title {
    font-size: 36px;
    text-align: center;
    color: #FFFFFF;
    position: relative;
}

/*=======================================================================================================*/


.review-title:after{
    display: block;
    box-shadow: 10px 5px 0 0 #18CFAB;
    content: "";
    margin: 0 auto;
    width: 76px;
    margin-top: 28px;
    border-bottom: 1px solid #18CFAB;
}

/*==========================================================================================================*/

.top-describe-review {
    color: #BBBBBB;
    font-weight: 300;
    font-size: 16px;
}

.review-user-name {
    text-transform: uppercase;
    color: #18CFAB;
    font-weight: bold;
    font-size: 16px;
    margin-top: 30px;
}

.user-job-info {
    margin-top: 13px;
    color: #BBBBBB;
    font-size: 13px;
}

.switcher-block {
    display: flex;
    width: 483px;
    align-self: center;
    position: relative;
    flex-direction: row;
}

/*===================================================================*/

.switcher-button {
    position: absolute;
    content: '';
    color: #BBBBBB;
    width: 31px;
    height: 21px;
    padding-bottom: 5px;
    padding-top: 5px;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #BBBBBB;
    cursor: pointer;
}

.switcher-block .slick-arrow.slick-prev::before {
    content: url("../img/left-arrow-white.svg");
    opacity: 0.6;
}

.switcher-block .slick-arrow {
    line-height: 9px;
}

.switcher-block .slick-arrow.slick-next::before {
    content: url("../img/right-arrow-white.svg");
    opacity: 0.6;
    transform: translateY(-5px);
}

.switcher-block .slick-arrow:hover.slick-prev::before {
    opacity: 1;
}

.switcher-block .slick-arrow:hover.slick-next::before {
    opacity: 1;
}

.switcher-button:hover {
    background: #18CFAB;
    color: #FFFFFF;
    border: 1px solid #18CFAB;
}


/*=========================================================================*/

.review-photo-block img {
    align-self: center;

}

.top-slider-block {
    display: block;
    min-width: 0;
    max-width: 1160px;
}

.active-review-photo {
    margin-bottom: 20px;
}

.top-sliders {
    opacity: 0;
    display: none;
}

.selected-photo {
    display: inline-block;
    margin-top: 38px;
    margin-bottom: 44px;
    width: 166px;
    height: 166px;
    mix-blend-mode: normal;
    align-self: center;
    border: 12px solid rgba(31, 218, 181, 0.2);
    border-radius: 50%;
    box-sizing: border-box;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    min-width: 0;
    overflow: hidden;
}

.selected-photo img {
    width: 144px;
    height: 143px;
    align-self: center;
    overflow: hidden;
}

.comma-block {
    align-self: center;
    width: 47px;
    height: 35px;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='44' height='31' viewBox='0 0 44 31' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.65845 11.9026C14.9691 11.9026 19.2741 16.1757 19.2741 21.4484C19.2741 26.7195 14.9691 30.993 9.65845 30.993C4.34797 30.993 0.0429109 26.7195 0.0429109 21.4484L0 20.0841C0 9.54111 8.61007 0.993652 19.2312 0.993652V6.44727C15.562 6.44727 12.1124 7.86613 9.51792 10.4424C9.0185 10.9377 8.56269 11.466 8.15163 12.0211C8.64259 11.9451 9.14578 11.9026 9.65845 11.9026ZM34.3844 11.9026C39.6949 11.9026 43.9999 16.1757 43.9999 21.4484C43.9999 26.7195 39.6949 30.993 34.3844 30.993C29.0738 30.993 24.7687 26.7195 24.7687 21.4484L24.7258 20.0841C24.7258 9.54111 33.336 0.993652 43.957 0.993652V6.44727C40.2879 6.44727 36.8383 7.86613 34.2438 10.4424C33.7443 10.9377 33.2886 11.466 32.8774 12.0211C33.3685 11.9451 33.8715 11.9026 34.3844 11.9026Z' fill='%2318CFAB'/%3E%3C/svg%3E%0A");
    margin-bottom: 36px;
    margin-top: 99px;
}

.switcher-block img {
    width: 71px;
    height: 69px;
    box-sizing: border-box;
    border: none;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
    outline: none;
    box-shadow: 0 0 0 6px rgba(31, 218, 181, 0.2);
    margin: 20px auto 0;
    cursor: pointer;

}

.top-slider-block .slick-track {
    max-width: 1160px;
}

.top-sliders {
    outline: none;
}

.review-photo-block {
    outline: none;
    height: 100px;
    margin: 0 27px;
}

.top-slider-block .slick-slide {
    display: none;
}

.top-slider-block .slick-current {
    text-align: center;
    display: block;
}

.switcher-block .slick-current img {
    margin-top: 5px;
}

.switcher-block .slick-arrow {
    width: 33px;
    height: 34px;
    position: absolute;
    top: 50%;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #BBBBBB;
    font-size: 0;
}

.switcher-block .slick-arrow:hover {
    background: #18CFAB;
    fill: #FFFFFF;
    border: 1px solid #18CFAB;
}

.switcher-block .slick-arrow.slick-prev {
 left: -40px;
}

.switcher-block .slick-arrow.slick-next {
right: -40px;
}


/*==================================================================================*/

.footer-block {
    display: flex;
    justify-content: center;
    padding: 60px 0;
    background: #22353F;
}

.footer-block div {
    align-self: center;
    color: #AEAEAE;
    font-weight: 300;
    font-size: 14px;
}

.footer-block div p i {
    margin-right: 5px;
}

.footer-block div p span {
    color: #18CFAB;
}
