* {
	margin: 0;
	padding: 0;
	font-family: "Montserrat", sans-serif;
	box-sizing: border-box;
}

.container {
	width: 1160px;
	margin: 0 auto;
}

.first-page {
	display: flex;
	flex-direction: column;
	background-image: url("../img/section-1(header).jpg");
	background-attachment: fixed;
}

.header-page {
	background-color: rgba(94, 93, 88, 0.6);
}

.conteiner-header {
	display: flex;
	justify-content: space-around;
}

.company-logo {
	padding: 23px 0;
}
.hexagon {
	vertical-align: middle;
	display: inline-block;
	position: relative;
	height: 67px;
	width: 58px;
}

.hexagon-img {
	width: 100%;
	height: 100%;
}

.logo-letter {
	left: 23%;
	bottom: 28%;
	position: absolute;
	color: #ffffff;
	font-weight: bold;
	font-size: 40px;
	line-height: 31px;
}

.logo-title {
	vertical-align: middle;
	display: inline-block;
	font-weight: 300;
	font-size: 32px;
	line-height: 48px;
	color: #ffffff;
}

.ham-title {
	font-weight: bold;
	color: #18cfab;
}

.navbar {
	display: inline-block;
}

.navbar-item {
	display: inline-block;
	list-style: none;
	margin-left: 20px;
	padding: 48px 0;
	font-weight: bold;
	font-size: 16px;
	text-transform: uppercase;
	cursor: pointer;
}

.navbar-link {
	color: rgba(255, 255, 255, 0.6);
}

.navbar-item:nth-child(1) {
	margin-left: 0;
}

.navbar-item:hover {
	border-bottom: 2px solid #18cfab;
}

.navbar-item:hover .navbar-link {
	color: #18cfab;
}

.search {
	cursor: pointer;
	width: 20px;
	vertical-align: middle;
}

.title-part {
	padding-top: 260px;
	padding-bottom: 243px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.title-wrap-first-page {
	text-align: center;
}

.suptitle-up-first-page {
	font-weight: bold;
	font-size: 35px;
	text-transform: uppercase;
	color: #ffffff;
}

.select-word-first-page {
	color: #18cfab;
}

.title-first-page {
	font-weight: bold;
	font-size: 78px;
	text-transform: uppercase;
	color: #ffffff;
	margin-top: 20px;
}

.suptitle-down-first-page {
	font-size: 34px;
	color: #d4d4d4;
	margin-top: 20px;
}

.bth-first-page {
	padding-top: 134px;
}

.first-bth {
	cursor: pointer;
	padding: 16px 18px;
	font-weight: bold;
	font-size: 15px;
	line-height: 32px;
	text-transform: uppercase;
	color: #ffffff;
	background: #18cfab;
	border-top: 5px solid #ffffff;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	display: inline-block;
	margin-right: 26px;
}

.second-bth {
	cursor: pointer;
	padding: 16px 12px;
	font-weight: bold;
	font-size: 15px;
	line-height: 32px;
	text-transform: uppercase;
	color: #ffffff;
	background: #00cbf6;
	border-top: 5px solid #ffffff;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.first-bth:active,
.second-bth:active {
	border-top: 0 solid #ffffff;
	padding-top: 21px;
}

.оur-services-wrap {
	border-top: 8px solid #ffffff;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	@media (max-width: 1024px) {
       grid-template-columns: repeat(2, 1fr);
		border: 2px solid white;
	}
	@media (max-width: 576px) {
		grid-template-columns: repeat(1, 1fr);
	}
}

.оur-service-item {
	padding-top: 83px;
	padding-bottom: 70px;
	background-color: #1c2a33;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	text-align: center;
   @media (max-width: 1024px) {
	   border: 2px solid white;
   }
}

.оur-service-item:nth-child(2n) {
	background-color: #18cfab;
}

.оur-service-item:nth-child(2n) .service-icon {
	width: 100px;
}

.оur-service-item:nth-child(2n) .service-title {
	color: #ffffff;
}

.service-icon {
	width: 60px;
}

.service-title {
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
	text-transform: uppercase;
	color: #18cfab;
	margin-top: 47px;
}

.section {
	padding-top: 83px;
	padding-bottom: 91px;
}

.section-title {
	font-weight: 300;
	font-size: 36px;
	text-align: center;
	color: #4e4e4e;
}

.section-title:after {
	display: block;
	box-shadow: 10px 5px 0 0 #18cfab;
	content: "";
	margin: 0 auto;
	width: 78px;
	margin-top: 28px;
	border-bottom: 2px solid #18cfab;
}

.services-card {
	margin-top: 70px;
}

.services-card-name {
	display: flex;
}

.card-name-menu {
	cursor: pointer;
	text-align: center;
	background-color: #f8fcfe;
	width: calc(100% / 6);
	padding: 25px;
	font-weight: 300;
	font-size: 16px;
	color: #717171;
	border: 1px solid transparent;
}

.card-name-menu:hover {
	border: 1px solid #18cfab;
}

.card-name-menu-active {
	background-color: #18cfab;
	color: #ffffff;
	position: relative;
}

.card-name-menu-active:after {
	content: "";
	top: 87%;
	left: calc(100% / 2 - 10px);
	position: absolute;
	background-color: #18cfab;
	width: 20px;
	height: 20px;
	transform: rotate(45deg);
}

.services-card-content-wrap {
	margin-top: 27px;
}

.services-card-content-item {
	display: none;
}

.services-card-content-item-active {
	display: flex;
}

.services-card-img {
	width: 190px;
	height: 139px;
}

.services-card-content {
	width: 952px;
	margin-left: 15px;
	font-weight: 300;
	font-size: 13px;
	line-height: 24px;
	color: #777777;
}

.install {
	padding: 126px 0;
	background: linear-gradient(0, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
		url("../img/section-2.jpg") 0 -250px;
	background-size: cover;
}

.section-wrap {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.install-title {
	font-size: 40px;
	text-transform: uppercase;
	color: #18cfab;
}

.install-subtitle {
	margin-top: 12px;
	margin-bottom: 67px;
	font-size: 16px;
	color: #d8d8d8;
}

.our-work {
	background-color: #e9edef;
}

.work-gallery-menu {
	margin-top: 70px;
	display: flex;
}

.work-galery-menu-item {
	cursor: pointer;
	padding: 14px;
	font-weight: 300;
	font-size: 16px;
	color: #717171;
	border-top: 1px solid #dadada;
	border-bottom: 1px solid #dadada;
	border-right: 1px solid #dadada;
}

.work-galery-menu-item:first-child {
	border-left: 1px solid #dadada;
}

.work-galery-menu-item-acrive {
	box-shadow: inset 0 0 0 3px rgba(24, 207, 171, 1);
	color: #18cfab;
}

.work-gallery {
	margin-top: 71px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}

.work-img-item {
	width: 290px;
	height: 210px;
	background-size: cover;
	position: relative;
}

.work-img-item-hidden {
	display: none;
}

.work-img {
	width: 100%;
	object-fit: cover;
}

.work-img-item-hover {
	background-color: #e9edef;
	padding-top: 48px;
	padding-bottom: 54px;
	width: 290px;
	border-top: 3px solid #18cfab;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: absolute;
	top: 0;
	opacity: 0;
}

.block-link-img {
	display: flex;
}

.stop-block {
	margin-left: 3px;
}

.stop-block,
.link-img {
	border-radius: 50%;
	border: 1px solid #18cfab;
	height: 43px;
	width: 43px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
}

.stop-block-square {
	width: 11px;
	height: 11px;
	background-color: #18cfab;
}

.link-img {
	transform: rotate(45deg);
}

.link-img-chain {
	height: 10px;
	width: 3px;
	background-color: #18cfab;
	border-radius: 5px;
	position: relative;
}

.link-img-chain:before {
	content: "";
	display: block;
	height: 5px;
	width: 5px;
	border-radius: 3px;
	border: 2px solid #18cfab;
	position: absolute;
	left: -3px;
	bottom: 6px;
}

.link-img-chain:after {
	content: "";
	display: block;
	height: 5px;
	width: 5px;
	border-radius: 3px;
	border: 2px solid #18cfab;
	position: absolute;
	left: -3px;
	top: 6px;
}

.stop-block:hover,
.link-img:hover {
	background-color: #18cfab;
}

.stop-block:hover .stop-block-square,
.link-img:hover .link-img-chain {
	background-color: #ffffff;
}

.link-img:hover .link-img-chain:before,
.link-img:hover .link-img-chain:after {
	border-color: #ffffff;
}

.title-work-img {
	font-size: 14px;
	text-transform: uppercase;
	color: #18cfab;
	margin-top: 24px;
}

.suptitle-work-img {
	font-weight: 300;
	font-size: 12px;
	line-height: 25px;
	color: #8a8a8a;
}

.work-img-item:hover .work-img-item-hover {
	opacity: 1;
}

.load-more {
	margin-top: 70px;
	background-color: #18cfab;
	padding: 18px 22px;
	font-weight: bold;
	font-size: 14px;
	text-transform: uppercase;
	color: #ffffff;
	border-radius: 3px;
}

.load-more-hidden {
	display: none;
}

.load-more-name {
	vertical-align: top;
}

.icon-load-more {
	margin-right: 15px;
}

.news-cards-wrap {
	margin-top: 70px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 40px;
}

.news-card-img {
	background-size: cover;
	width: 260px;
	height: 200px;
	position: relative;
}

.news-card-date {
	position: absolute;
	top: 0;
	right: 0;
	width: 58px;
	padding: 5px 15px;
	background-color: #203e38;
	font-weight: 200;
	font-size: 16px;
	line-height: 25px;
	text-align: center;
	color: #ffffff;
}

.news-img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.news-card-title {
	font-size: 18px;
	margin-top: 10px;
	color: #717171;
	margin-left: 10px;
}

.news-card-subtitle {
	font-weight: 300;
	font-size: 13px;
	margin-top: 10px;
	color: #777777;
	margin-left: 10px;
}

.news-card-add:after {
	content: "";
	height: 10px;
	border-right: 1.5px solid #777777;
	display: inline-block;
	margin-right: 12px;
	margin-left: 12px;
}

.news-card:hover .news-card-title {
	color: #18cfab;
}

.news-card:hover .news-card-date {
	background-color: #18cfab;
}

.about-us {
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url("../img/section-3.jpg");
	background-size: cover;
}

.about-us-title {
	font-weight: 300;
	font-size: 36px;
	color: #ffffff;
}

.about-us-title:after {
	box-shadow: 10px 5px 0 #18cfab;
	display: block;
	content: "";
	margin: 0 auto;
	width: 78px;
	margin-top: 28px;
	border-bottom: 2px solid #18cfab;
}

.icon-about-us {
	margin-top: 67px;
}

.reviews-wrap {
	margin-top: 36px;
}

.review {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.review-content {
	font-size: 16px;
	color: #bbbbbb;
}

.review-name {
	margin-top: 37px;
	font-size: 16px;
	line-height: 27px;
	text-transform: uppercase;
	color: #18cfab;
}

.review-position {
	font-size: 16px;
	color: #bbbbbb;
	margin-top: 10px;
}

.review-img {
	width: 162px;
	margin-top: 38px;
	border: 10px solid rgba(24, 207, 171, 0.1);
	border-radius: 50%;
}

.slider-top {
	width: 1160px;
}

.slider-bottom {
	margin-top: 60px;
	width: 635px;
}
.slider-wrap {
	display: flex;
}

.slider-img {
	border-radius: 50%;
	border: 5px solid rgba(24, 207, 171, 0.2);
	width: 60px;
	height: 60px;
}

.swiper-button-next,
.swiper-button-prev {
	border: 1px solid #ffffff;
	background-color: transparent;
	width: 34px;
	height: 34px;
}

.swiper-button-prev {
	left: 290px;
	top: 80%;
}

.swiper-button-next {
	right: 215px;
	top: 80%;
}

.swiper-button-next::after,
.swiper-button-prev::after {
	color: #ffffff;
	font-size: 14px;
	line-height: 0;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
	background-color: #18cfab;
	border-color: transparent;
}

.slider-bottom .swiper-slide {
	margin-top: 10px;
}

.slider-bottom .swiper-slide-active {
	margin-top: 0;
}

.footer-part {
	background-color: #22353f;
	padding: 48px 0;
	display: flex;
	justify-content: center;
}

.copyright {
	font-weight: 300;
	font-size: 14px;
	color: #aeaeae;
}

.ham {
	color: #18cfab;
}

.slider-wrap {
	position: relative;
}

.loader-section {
	margin-top: 70px;
	display: none;
}

.loader-section-active {
	display: block;
}

.loader {
	width: 50px;
	height: 50px;
	display: inline-block;
	position: relative;
}

.loader-quart {
	border-radius: 50px;
	border: 6px solid rgba(24, 207, 171, 0.4);
}

.loader-quart::after {
	content: "";
	position: absolute;
	top: -6px;
	left: -6px;
	bottom: -6px;
	right: -6px;
	border-radius: 50px;
	border: 6px solid transparent;
	border-top-color: #18cfab;
	animation: spin 1s linear 0s infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
