.page-body {
	margin: 0;
	// padding: 50px 100px;
	padding: 0 15px;
	background-color: $body-bgd-color;
	font-size: 16px;
}
.contact-form__element {
	width: 100%;
	@media (min-width: 1024px) {
		width: 30%;
	}
}
.contact-form {
	background-color: lawngreen;
	@media (min-width: 1024px) {
		background-color: transparent;
	}
}
// @media (max-width: 1024px) {
// 	.contact-form {
// 		// display: none;
// 		background-color: lawngreen;
// 	}
// 	.contact-form__element {
// 		width: 100%;
// 	}
// }
.contact-form__text-block {
	height: 300px;
	overflow-y: auto;
}
.fieldset {
	display: flex;
	// flex-direction: column;
}
// @media (min-width: 1024px) {
// 	.img {
// 		content: url(../img/sea01.jpg);
// 	}
// }
