.wrapper {
    display: flex;
    background: whitesmoke;
    margin: 0 auto;
    width: 100%;
    height: 1vm;
}

#root {
    display: flex;
    flex-wrap: wrap;
    width: 502px;
    height: 502px;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    width: 100px;
    height: 100px;
}
